{% extends '@SyliusShop/layout.html.twig' %}

{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% block content %}
    <h1 class="ui monster section dividing header">
        {{ 'tavy315_sylius_recommendations.ui.recommendation'|trans }}
    </h1>
    {% if recommendations|length > 0 %}
        <div class="ui five column stackable grid" id="recommendation">
            {% for recommendation in recommendations %}
                <div class="column recommendation-group">
                    <div class="ui fluid card">
                        <a href="{{ path('sylius_shop_product_show', {'slug': recommendation.recommendationGroup.slug, '_locale': recommendation.recommendationGroup.translation.locale}) }}"
                           class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">{{ 'sylius.ui.view_more'|trans }}</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="content">
                            <a href="{{ path('sylius_shop_product_show', {'slug': recommendation.recommendationGroup.slug, '_locale': recommendation.recommendationGroup.translation.locale}) }}"
                               class="header sylius-product-name">{{ recommendation.recommendationGroup.name }}</a>
                        </div>
                    </div>
                    {{ sonata_block_render_event('sylius.shop.product.index.after_box', {'product': product}) }}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="ui one column stackable grid">
            <div class="column">
                {{ messages.info('tavy315_sylius_recommendations.ui.your_recommendation_is_empty'|trans) }}
            </div>
        </div>
    {% endif %}
    <div class="ui hidden divider"></div>
{% endblock %}
